@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/**********************ALL*******************************/

*{
    margin: 0px;
    padding: 0px;
}


/***********************TAGS******************************/

header{
    height: 10vh;
    width: 100vw;
    background-color: transparent;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    position: fixed;
    top:0;

}


/* i{
    color: rgb(0, 0, 0);
} */



/************************ID*****************************/

#nav-logo{
    padding-left: 1vw;
    height: 15vh;
    width: 7vw;
}

#nav-ul{
    display: flex;
}

/************************CLASS*****************************/

.navbar{
    background: transparent;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    top:0;
    left:0;
    opacity: 1.5;
}

.nav-links{
    /* background-color: rgb(78, 0, 245); */
    padding: 20px 10px 20px 0px;
    width: 47vw;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 18px;
    border-bottom: 3px solid red ;
}

.nav-li{
    
    padding: 20px 20px 20px 20px;
    list-style-type: none;
    justify-content: space-between;
}

.navbar ul a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    
}

.navbar ul a:hover{
    color: rgb(0, 42, 251);
    text-decoration: none;
}

.landing{
    background-image:  url(images/page1-background.jpg);
    background-size: cover;
    width:100vw;
    height: 97vh;
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    position: relative;
    
}

.heading{
    
    width:auto;
    height:30vh;
    padding-top:12vw;
    padding-left:15vw;
    padding-right: 20vw;
    overflow-x: hidden;
    color: transparent;
}

.landing h1{
    background-color: rgb(24, 106, 60);
    width: 58vw;
    color: white;
    font-weight: 800;
    font-size: 130px;
    mix-blend-mode: multiply;
    border-radius: 8px;
    padding-left: 50px;
    transform: translateX(10%);
    animation: scrolling 1.5s linear ;
}

@keyframes scrolling {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(10%);
    }
    
}